<a href="https://colab.research.google.com/github/MD-Asif-Al-Muqshit/DMML-Project/blob/main/Finalone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [51]:
import numpy as np 
import pandas as pd 
import os
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import tqdm
from imblearn.datasets import make_imbalance
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from operator import itemgetter
from sklearn.feature_selection import RFE

In [52]:
df= pd.read_csv('voice_recognition_dataset1.csv')

## **Data preprocessing**

In [53]:
df.label=[1 if each=='male' else 0 for each in df.label]

In [54]:
df

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402905,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,1
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,1
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,1
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,1
4,0.202812,0.060936,0.232316,0.137711,0.256730,0.119019,2.223248,7.696426,0.872304,0.284037,...,0.202812,0.138274,0.049434,0.277457,0.734965,0.023438,2.765625,2.742188,0.123397,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,0.196945,0.061880,0.213970,0.138328,0.254925,0.116597,1.668055,5.103982,0.876257,0.267148,...,0.196945,0.127932,0.053751,0.277457,1.039688,0.140625,4.734375,4.593750,0.128827,1
1206,0.206996,0.061346,0.219346,0.147629,0.266649,0.119019,2.300772,8.059281,0.875591,0.290092,...,0.206996,0.133470,0.047666,0.258065,1.226268,0.164062,5.273438,5.109375,0.144917,1
1207,0.195542,0.062672,0.184885,0.138931,0.259338,0.120407,2.325123,9.792753,0.885539,0.346798,...,0.195542,0.135179,0.047151,0.279070,0.530078,0.023438,3.843750,3.820312,0.081235,1
1208,0.200717,0.062786,0.230064,0.135987,0.259045,0.123057,1.601094,4.531100,0.871437,0.258167,...,0.200717,0.120980,0.047013,0.279070,0.667221,0.023438,3.515625,3.492188,0.100373,1
1209,0.195680,0.059589,0.221934,0.130025,0.248295,0.118270,2.477426,9.361352,0.880763,0.314705,...,0.195680,0.125406,0.054299,0.277457,1.091146,0.023438,5.390625,5.367188,0.148199,1

In [55]:
x= df.iloc[:,:-1]

In [56]:
x

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402905,0.893369,0.491918,0.000000,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,0.000000,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,0.000000,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,0.083878,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119
4,0.202812,0.060936,0.232316,0.137711,0.256730,0.119019,2.223248,7.696426,0.872304,0.284037,0.256730,0.202812,0.138274,0.049434,0.277457,0.734965,0.023438,2.765625,2.742188,0.123397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,0.196945,0.061880,0.213970,0.138328,0.254925,0.116597,1.668055,5.103982,0.876257,0.267148,0.250328,0.196945,0.127932,0.053751,0.277457,1.039688,0.140625,4.734375,4.593750,0.128827
1206,0.206996,0.061346,0.219346,0.147629,0.266649,0.119019,2.300772,8.059281,0.875591,0.290092,0.268556,0.206996,0.133470,0.047666,0.258065,1.226268,0.164062,5.273438,5.109375,0.144917
1207,0.195542,0.062672,0.184885,0.138931,0.259338,0.120407,2.325123,9.792753,0.885539,0.346798,0.269669,0.195542,0.135179,0.047151,0.279070,0.530078,0.023438,3.843750,3.820312,0.081235
1208,0.200717,0.062786,0.230064,0.135987,0.259045,0.123057,1.601094,4.531100,0.871437,0.258167,0.267962,0.200717,0.120980,0.047013,0.279070,0.667221,0.023438,3.515625,3.492188,0.100373
1209,0.195680,0.059589,0.221934,0.130025,0.248295,0.118270,2.477426,9.361352,0.880763,0.314705,0.240814,0.195680,0.125406,0.054299,0.277457,1.091146,0.023438,5.390625,5.367188,0.148199

In [57]:
y= df.iloc[:,20]

In [58]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1205    1
1206    1
1207    1
1208    1
1209    1
Name: label, Length: 1210, dtype: int64

# **RFE Method**

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.20, random_state=1)

In [60]:
from sklearn.ensemble import RandomForestRegressor
reg = RandomForestRegressor(n_estimators=100, max_depth=1)

In [61]:
n_features_to_select = 1
rfe = RFE(reg, n_features_to_select=n_features_to_select)
rfe.fit(x_train, y_train)
features = x_train.columns.to_list()

In [62]:
rfe = RFE(reg, step= 1, n_features_to_select=13)
rfe.fit(x_train, y_train)

RFE(estimator=RandomForestRegressor(max_depth=1), n_features_to_select=13)

In [63]:
rfe.transform(x_train)

array([[ 4.65260117,  0.9262551 ,  0.41554391, ...,  3.796875  ,
         3.7890625 ,  0.19917526],
       [ 6.09576004,  0.94122449,  0.60840195, ...,  5.2734375 ,
         5.265625  ,  0.325     ],
       [13.47993531,  0.91019306,  0.51656688, ...,  0.609375  ,
         0.6015625 ,  0.26994434],
       ...,
       [ 4.26136334,  0.91185853,  0.34419893, ...,  5.8828125 ,
         5.859375  ,  0.14988679],
       [29.27074195,  0.84536536,  0.32631026, ...,  8.90625   ,
         8.8828125 ,  0.08059066],
       [ 7.84665713,  0.90727828,  0.36960631, ...,  8.484375  ,
         8.4609375 ,  0.12870232]])

In [64]:
predictions = rfe.predict(x_test)
c = np.where(rfe.support_ == False)

In [65]:
df2 = df.drop(df.columns[c], axis=1)

In [66]:
df2

,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,274.402905,0.893369,0.491918,0.000000,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,1
1,634.613855,0.892193,0.513724,0.000000,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,1
2,1024.927705,0.846389,0.478905,0.000000,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,1
3,4.177296,0.963322,0.727232,0.083878,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,1
4,7.696426,0.872304,0.284037,0.256730,0.202812,0.138274,0.049434,0.277457,0.734965,0.023438,2.765625,2.742188,0.123397,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,5.103982,0.876257,0.267148,0.250328,0.196945,0.127932,0.053751,0.277457,1.039688,0.140625,4.734375,4.593750,0.128827,1
1206,8.059281,0.875591,0.290092,0.268556,0.206996,0.133470,0.047666,0.258065,1.226268,0.164062,5.273438,5.109375,0.144917,1
1207,9.792753,0.885539,0.346798,0.269669,0.195542,0.135179,0.047151,0.279070,0.530078,0.023438,3.843750,3.820312,0.081235,1
1208,4.531100,0.871437,0.258167,0.267962,0.200717,0.120980,0.047013,0.279070,0.667221,0.023438,3.515625,3.492188,0.100373,1
1209,9.361352,0.880763,0.314705,0.240814,0.195680,0.125406,0.054299,0.277457,1.091146,0.023438,5.390625,5.367188,0.148199,1

In [67]:
df2 = pd.DataFrame(df2, columns= df2.keys())

# **Data preprocessing**

In [68]:
df2.head(2)

,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,274.402905,0.893369,0.491918,0.0,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,1
1,634.613855,0.892193,0.513724,0.0,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,1

In [69]:
x2= df2.iloc[:,:-1]

In [70]:
x2

,kurt,sp.ent,sfm,mode,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx
0,274.402905,0.893369,0.491918,0.000000,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000
1,634.613855,0.892193,0.513724,0.000000,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632
2,1024.927705,0.846389,0.478905,0.000000,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512
3,4.177296,0.963322,0.727232,0.083878,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119
4,7.696426,0.872304,0.284037,0.256730,0.202812,0.138274,0.049434,0.277457,0.734965,0.023438,2.765625,2.742188,0.123397
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,5.103982,0.876257,0.267148,0.250328,0.196945,0.127932,0.053751,0.277457,1.039688,0.140625,4.734375,4.593750,0.128827
1206,8.059281,0.875591,0.290092,0.268556,0.206996,0.133470,0.047666,0.258065,1.226268,0.164062,5.273438,5.109375,0.144917
1207,9.792753,0.885539,0.346798,0.269669,0.195542,0.135179,0.047151,0.279070,0.530078,0.023438,3.843750,3.820312,0.081235
1208,4.531100,0.871437,0.258167,0.267962,0.200717,0.120980,0.047013,0.279070,0.667221,0.023438,3.515625,3.492188,0.100373
1209,9.361352,0.880763,0.314705,0.240814,0.195680,0.125406,0.054299,0.277457,1.091146,0.023438,5.390625,5.367188,0.148199

In [71]:
y2= df2.iloc[:,13]

In [72]:
y2

0       1
1       1
2       1
3       1
4       1
       ..
1205    1
1206    1
1207    1
1208    1
1209    1
Name: label, Length: 1210, dtype: int64

# **Univariate Method**

In [73]:
from sklearn.feature_selection import SelectKBest

In [74]:
from sklearn.feature_selection import f_classif

In [75]:
fit1= SelectKBest(score_func=f_classif)

In [76]:
fit1.fit(x2,y2)

SelectKBest()

In [77]:
score_f= pd.DataFrame(fit1.scores_,columns=['Scores'])

In [78]:
score_f

         Scores
0      6.315970
1    624.913065
2    239.699844
3     55.405109
4    294.815255
5   2205.549951
6    110.044932
7     89.959542
8    221.322334
9      0.520021
10   250.064310
11   249.446433
12    42.554946

In [79]:
new_col= pd.DataFrame(x2.columns)

In [80]:
toper_features= pd.concat([new_col,score_f],axis=1)

In [81]:
toper_features

           0       Scores
0       kurt     6.315970
1     sp.ent   624.913065
2        sfm   239.699844
3       mode    55.405109
4   centroid   294.815255
5    meanfun  2205.549951
6     minfun   110.044932
7     maxfun    89.959542
8    meandom   221.322334
9     mindom     0.520021
10    maxdom   250.064310
11   dfrange   249.446433
12   modindx    42.554946

In [82]:
toper_features.nlargest(8,'Scores')

           0       Scores
5    meanfun  2205.549951
1     sp.ent   624.913065
4   centroid   294.815255
10    maxdom   250.064310
11   dfrange   249.446433
2        sfm   239.699844
8    meandom   221.322334
6     minfun   110.044932

In [83]:
df3=df2.drop(['kurt', 'mode', 'maxfun', 'mindom', 'modindx'], axis=1)

In [84]:
df3

,sp.ent,sfm,centroid,meanfun,minfun,meandom,maxdom,dfrange,label
0,0.893369,0.491918,0.059781,0.084279,0.015702,0.007812,0.007812,0.000000,1
1,0.892193,0.513724,0.066009,0.107937,0.015826,0.009014,0.054688,0.046875,1
2,0.846389,0.478905,0.077316,0.098706,0.015656,0.007990,0.015625,0.007812,1
3,0.963322,0.727232,0.151228,0.088965,0.017798,0.201497,0.562500,0.554688,1
4,0.872304,0.284037,0.202812,0.138274,0.049434,0.734965,2.765625,2.742188,1
...,...,...,...,...,...,...,...,...,...
1205,0.876257,0.267148,0.196945,0.127932,0.053751,1.039688,4.734375,4.593750,1
1206,0.875591,0.290092,0.206996,0.133470,0.047666,1.226268,5.273438,5.109375,1
1207,0.885539,0.346798,0.195542,0.135179,0.047151,0.530078,3.843750,3.820312,1
1208,0.871437,0.258167,0.200717,0.120980,0.047013,0.667221,3.515625,3.492188,1
1209,0.880763,0.314705,0.195680,0.125406,0.054299,1.091146,5.390625,5.367188,1

In [85]:
x3= df3.iloc[:,:-1]

In [86]:
x3

,sp.ent,sfm,centroid,meanfun,minfun,meandom,maxdom,dfrange
0,0.893369,0.491918,0.059781,0.084279,0.015702,0.007812,0.007812,0.000000
1,0.892193,0.513724,0.066009,0.107937,0.015826,0.009014,0.054688,0.046875
2,0.846389,0.478905,0.077316,0.098706,0.015656,0.007990,0.015625,0.007812
3,0.963322,0.727232,0.151228,0.088965,0.017798,0.201497,0.562500,0.554688
4,0.872304,0.284037,0.202812,0.138274,0.049434,0.734965,2.765625,2.742188
...,...,...,...,...,...,...,...,...
1205,0.876257,0.267148,0.196945,0.127932,0.053751,1.039688,4.734375,4.593750
1206,0.875591,0.290092,0.206996,0.133470,0.047666,1.226268,5.273438,5.109375
1207,0.885539,0.346798,0.195542,0.135179,0.047151,0.530078,3.843750,3.820312
1208,0.871437,0.258167,0.200717,0.120980,0.047013,0.667221,3.515625,3.492188
1209,0.880763,0.314705,0.195680,0.125406,0.054299,1.091146,5.390625,5.367188

In [87]:
y3= df3.iloc[:,8]

In [88]:
y3

0       1
1       1
2       1
3       1
4       1
       ..
1205    1
1206    1
1207    1
1208    1
1209    1
Name: label, Length: 1210, dtype: int64

# **Train_test split**

In [89]:
x_train2, x_test2, y_train2, y_test2 = train_test_split(x3, y3, test_size=0.25, random_state=1)

# **RandomForest**

In [90]:
from sklearn.ensemble import RandomForestClassifier
rclf3 = RandomForestClassifier()

In [91]:
rclf3.fit(x_train2,y_train2)

RandomForestClassifier()

In [92]:
print("The Accuracy is: {:.4f}".format(rclf3.score(x_test2,y_test2)))

The Accuracy is: 0.9868

# **DecisionTreeClassifier**

In [93]:
from sklearn.tree import DecisionTreeClassifier
dclf = DecisionTreeClassifier()

In [94]:
dclf.fit(x_train2,y_train2)

DecisionTreeClassifier()

In [95]:
print("The Accuracy is: {:.4f}".format(dclf.score(x_test2,y_test2)))

The Accuracy is: 0.9802

# **LogisticRegression**

In [96]:
from sklearn.linear_model import LogisticRegression
lgreg = LogisticRegression()

In [97]:
lgreg.fit(x_train2,y_train2)

LogisticRegression()

In [98]:
print("The Accuracy is: {:.4f}".format(lgreg.score(x_test2,y_test2)))

The Accuracy is: 0.9010